<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android5777_4390_7178_01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Travel Hager"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.MainActivity" />
        <activity android:name=".model.entities.Manager" />

        <provider
            android:name=".model.datasource.CustomContentProvider"
            android:authorities="com.example.android5777_4390_7178_01"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Controller.Registery" />
        <activity android:name=".Controller.AddBusiness" />
        <activity android:name=".Controller.AddAttraction" />

        <receiver
            android:name=".model.backend.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="com.oshri.academy.UPDATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".model.backend.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Controller.AddBusinessActivity" />
        <activity android:name=".Controller.AddAttractionActivity"></activity>
    </application>

</manifest>